# Игнорируем директории с данными и результатами
/data/

# Зависимости Python
poetry.lock
.venv/
venv/
__pycache__/
*.pyc

# Системные файлы (для macOS)
.DS_Store

# Файлы IDE (VSCode, PyCharm)
.vscode/
.idea/
